<template name="newscard">
  <figure class="snip1253 col-3">
    <div class="image newsimage">
      <a href="/news/{{news.key}}">
        {{#if news.image}}
        <img src={{news.image}} alt="sample52" />
        {{else}}
        <img src="/assets/src/newsdefault.png" alt="sample52" />
        {{/if}}
        </a>
    </div>
    <figcaption>
      <a class="link-dark" href="{{news.url}}" target="_blank"
        ><h3>{{news.name}}</h3></a
      >
      <div>
        <p class="overflow">{{news.description}}</p>
        <div class="d-flex justify-content-between">
          <p>{{news.date}}</p>
          <p>{{news.source}}</p>
        </div>
      </div>
    </figcaption>
    <footer class="border-top">
      <div class="views">
        <i class="fa-solid fa-arrow-up-from-bracket"></i>928
      </div>
      <div class="love"><i class="fa-solid fa-heart"></i>198</div>
    </footer>
  </figure>
</template>
