<template name="footer">
  <!-- footer -->
  <div class="container-fluid bottom-0" style="background-color: #0e1e32">
    <footer class="d-flex flex-wrap align-items-center py-5">
      <div class="col-12 col-md-4 text-center">
        <img src="/assets/src/footerlogo.png" class="mb-3" />
        <p class="mb-0 text-body-secondary" style="color: #fff !important">
          © 2024 Company, Inc
        </p>
      </div>

      <ul
        class="nav flex flex-column col-12 col-md-4 align-items-center"
        style="color: #fff !important"
      >
        <li class="nav-item">Privacy Policy</li>
        <li class="nav-item">Terms of Service</li>
        <li class="nav-item">Site Map</li>
      </ul>

      <ul class="d-flex justify-content-center nav col-12 col-md-4">
        <li class="nav-item">
          <a
            href="https://github.com/cenkbulbull"
            target="_blank"
            class="nav-link px-2 text-body-secondary"
            style="color: #fff !important; font-size: 30px"
            ><i class="fa-brands fa-github"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.linkedin.com/in/cenk-b%C3%BClb%C3%BCl-a73b4a231/"
            target="_blank"
            class="nav-link px-2 text-body-secondary"
            style="color: #fff !important; font-size: 30px"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="mailto:cenkbulbul67@gmail.com"
            class="nav-link px-2 text-body-secondary"
            style="color: #fff !important; font-size: 30px"
            ><i class="fa-solid fa-envelope"></i
          ></a>
        </li>
      </ul>
    </footer>
  </div>
  <!-- footer -->
</template>
